<% attributes.each do |attribute| -%>
<p>
  <b><%= attribute.human_name %>:</b>
  <%%= <%= attribute.name %> %>
</p>

<% end -%>

{{!-- <a href="#/index">Back</a>


{{#each attributes}}
<p>
  <b>{{attribute.human_name}}:</b>
      {{ attribute.name }}
</p>

{{/each}}

<a href="#/index">Back</a>
 --}}